* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
/*-------------VARIABLES--------------*/

$fuente: "Montserrat", sans-serif;
$colorFondo:#e2e6df;
$colorSecundario:#1c1c1c;
