* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}



/*-------------VARIABLES--------------*/

$fuente: "Montserrat", sans-serif;
$colorFondo:white;
$colorSecundario:#1c1c1c;
