

/*-------------COMO COMPRAR--------------*/
#como-comprar {
    color: #7a7878;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
}
.p-contenedor-comoComprar {
    text-align: left;
    font-size: 14px;
    font-family: $fuente;
    margin-left: 145px;
    margin-top: 40px;
    line-height: 40px
}
.p-contenedor-comoComprar p {
    text-align: left;
    padding-left: 22px;
}
.p-contenedor-comoComprar h1 {
    text-align: center;
}