
.logos-redes {
    padding-left: 10px;
    justify-content: end;
}

.logos-redes img {
    width: 40px;
}

#redes {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 0.5px solid white;
    width: 142px;
    margin-left: auto;
}

.redesFooter {
    margin-left: 496px;
    margin-bottom: 40px;
}

#contacto {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 0.5px solid white;
    width: 98px;
    margin-left: 496px;
    padding: 0px;
}

.ContactoFooter {
    margin-left: 496px;
    margin-bottom: 40px;
    display: flex;
}
.ContactoFooter a{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 7px;    
}

.medioPago {
    color: white;
    font-size: 16px;
    margin: 0px;
    margin-top: 15px;
}
.medioPago img{
    width: 40px;
}
footer {
    background-color: #1c1c1c;
    padding: 0px;
    margin: 0px;
}
