

/*-------------FOOTER--------------*/
.logos-redes {
    @include flex(none,none,center !important);
    flex-direction: column;
    margin-top: 20px !important;
    img {
        width: 40px;
    }
}
.redesFooter {
    margin-top: 8px;
}
.ContactoFooter {
    margin-bottom: 20px;
}
.ContactoFooter a{
    width: 250px;
    height: auto;
    text-decoration: none;
    color: white;
    gap: 6px;    
}
.medioPago {
    font-size: 15px;
    color: white;
    margin: 0px;
    img{
        width: 40px;
    }
}
.medioPagoContacto{
    color: white;
    font-size: 15px !important;
    margin: 0px;
    margin-top: 14px;
}
.medioPrueba{
    position: relative;
    right: 60px;
}
footer {
    background-color: $colorSecundario;
    padding: 0px;
    margin: 0px;
}
.derechosReservados{
    color: white;
    padding-top: 10px;
}


