

/*-------------HEADER--------------*/


.p-cuotas {
    background-color: $colorSecundario;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-family: $fuente;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 8px;
}
.navbar {
    display:flex;
    list-style-type: none;
    justify-content: right !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    gap: 20px;
    a {
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-family: $fuente;
    }
}
.contenedor-lista {
    @include flex(center,none,none);
    background-color: $colorSecundario;
}
.nav-lista {
    flex-wrap: wrap;
    display:flex;
    list-style-type: none;
    gap: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-family: $fuente;
    }
}
.nav-lista a:hover {
    color: #898585;
    border-bottom: 0.1px solid #898585;
    padding-bottom: 5px;
    transition: .10;
}
.container-logo {
    @include flex(left,none,none);
    padding-left: 20%;
    padding-bottom: 20px;
}
.img-logo img {
    width: 220px;
    height: auto;
    padding-bottom: 36px;
    position: relative;
}

