
/*-------------MEDIA--------------*/
@media only screen and (max-width:992px){
    .boton button{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .contenedor-lista {
        display:flex;
        justify-content: left;
        background-color: $colorSecundario;
    }
    .nav-lista {
        flex-wrap: wrap;
        display:flex;
        list-style-type: none;
        gap: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        a {
            text-decoration: none;
            font-size: 13px;
            color: white;
            font-family: $fuente;
        }
    }
    .img-logo img {
        width: 140px;
        height: auto;
        padding-bottom: 36px;
    }
    .boton button{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .navResponsive{
        background-color: $colorFondo !important;
    }
    .navRespon{
        background-color: $colorFondo !important;
    }
    .navbar a {
        color: black;
        font-size: 9px;
        font-family: $fuente;
    }
    .nav-item a{
        color: white !important;
    }
    .nav-lista a:hover {
        color: #898585;
        transition: .10;
    }
    .personalizado1 img{
        width: 400px;
        border-radius: 4px;
        margin: 0px;
    }
    .productosDestacados{
        display: none !important;
    }

    .igSpan{
        display: none !important;
    }
    .img-logo-footer{
        padding: 0px !important;
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }
    .logos-redes-f{
        margin-left: 38px;
        
    }
    .containerPagos{
        padding-bottom: 30px !important;
    }

    .container-cuota{
        width: 0px !important;
    } 
}

@media only screen and (min-width: 993px) and (max-width:1280px){
    .instagramFeed{
    width: 100% !important;
    }

    span{
        display: none !important;
    }
}
@media only screen and (max-width:1600px){
    .containerTiendaInicio img{
        width: 200px !important;
        height: 300px !important;
    }
    
}
@media only screen and  (min-width:768px) and (max-width:1200px){
    .descuentos{
        width: auto;
        height: 499px;
}
.instagramFeed {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    margin: 0px !important;
}
.descuentos{
    flex-direction: column !important;
}
.carousel-inner{
    overflow: hidden;
}
}

@media only screen and (max-width:1700px){
    .containerPersonalizado{
        flex-direction: column;
        padding-top: 200px;
        padding-bottom: 150px;
        margin: 0px !important;
        img{
            margin: 0px !important;
            padding-bottom: 10px;
        }
        h1{
            margin: 0px !important;
        }
        button{
            margin: 0px !important;

        }
        li{
            margin-left: 100px !important;
        }
    } 
}

@media only screen and  (min-width:300px) and (max-width:997px){

    .logoWhs{
    display: none !important;
    }
    .instagramFeed {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        margin: 0px !important;
    }
    .logos-redes-f{
        display: flex;
        justify-content: center;
    }
    .productosGeneral{
        padding-left: 10px !important;
        
    }
    .imgParallaxxCompra{
        width: 400px !important;
        height: 300px !important;
    }
    .p-contenedor-comoComprar{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
@media only screen and  (min-width:1400px) and (max-width:1920px){
    .containerTiendaInicio img{
        width: 290px;
        height: 380px;
    }
@media only screen and  (min-width:1280px) and (max-width:1500px){
    h2 span {
        position:absolute;
        background: $colorFondo;
        right:0;
        width:0;
        border-left: 1px solid #000000;
        animation: escribir 2.2s steps(1000) infinite alternate;
    }
    @keyframes escribir {
        from { width: 70% }
        to { width:30% }
    } 
}
}