

/*-------------PRODUCTOS--------------*/
.categoria {
    display: inline;
    ul {
        list-style-type: none;
        padding-left: 70px;
        a {
            list-style-type: none;
            text-decoration: none;
            font-family: $fuente;
            font-size: 15px;
            line-height: 40px;
            color: #665e61;
        }
    }
    h1 {
        font-family: $fuente;
        font-size: 19px;
        text-align: left;
        padding-left: 70px;
        margin: 0px;
    }
    h2 {
        font-family: $fuente;
        font-size: 19px;
        text-align: left;
        padding-left: 70px;
        padding-top: 70px;
    }
}
.tienda-conteiner a:hover {
    color: #665e61;
    border-bottom: 1px solid #c0c0c0;
    transition: .10;
}
.containerTienda {
    @include flex(center,none,left);
    margin: 0px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-right: 40px;;
    flex-wrap: wrap;
}
.boton2{
    font-family: $fuente !important;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}
.producto {
    text-align: center;
    color: #808080;
    padding-bottom: 5px;
    width: auto;
    height: auto;
    img {
        text-align: center;
        width: 235px;
        height: 335px;
        border-radius: 1.5px;
    }
    p {
        font-family: $fuente;
        font-size: 16px;
        color: #000000;
        margin-bottom: 1px;
        margin-top: 16px;
    }
    h6 {
        font-family: $fuente;
        font-size: 16px;
    }
    button{
        margin-right: 0px !important;
    }
}
.producto img:hover {
    transform:scale(1.06);
}
.productosGeneral {
    @include flex(left,none,none);
    padding-top: 38px;
    padding-left: 190px;
    ul {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-size: 18px;
        font-family: $fuente;
        gap: 5px;
        margin-bottom: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-size: 16px;
        font-family: $fuente;
    }
}